@import '__mixins.scss';
@import '__variables.scss';


@media only screen and (max-width: 360px) {
}





@media only screen and (max-width: 1000px) {
  #firstSection {
    padding-top: 48px;
    .navbar {
      @include linearGradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5));
      height: unset;
      .navbar-brand {
        padding: 0;
        img {
          width: 150px;
        }
      }
      .navbar-toggler {
        background-color: rgba($fullWhite, 0.5)
      }
      .nav-item {
        padding: 0 30px !important;
        .dropdown-menu {
          background-color: transparent;
          border: none;
          .dropdown-item {
            color: $fullWhite;
            &.active {
              background-color: transparent;
            }
          }
        }
      }
    }
    .mainSectionContent {
      #carouselMainSection {
        width: 100%;
        margin: auto;
        .carousel-inner {
          .carousel-item {
            margin: 0;
          }
          .carousel-title {
            font-size: 22px !important;
            margin: 0 auto;
            text-align: center;
            color: $accentColor !important;
          }
          .carousel-indicators {
            margin: 10px auto;
            width: 150px;
            padding-bottom: 20px;
            li {
              &.active {
                color: $accentColor !important;
              }
            }
            .carousel-indicators-number {
              color: $accentColor !important;
              font-size: 20px;
              top: -13px;
              &:first-of-type {
                left: -30px;
              }
              &:last-of-type {
                right: -15px;
              }
            }
          }
        }
        .textSection {
          right: 0;
          width: 100%;
          padding-top: 0;
          text-align: center;
          background-image: url('../../images/fotos/slide/1.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($fullWhite, 0.5)
          }
          h1 {
            padding-left: 0;
            padding-top: 25px;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
          }
          h3 {
            font-size: 25px;
            text-align: center;
          }
          p {
            font-size: 11px;
            color: $secondaryColor;
            max-width: 250px;
            margin: auto;
            text-align: justify;
          }
          .socialMediaList {
            ul {
              text-align: center;
              li {
                display: inline-block;
                margin: 15px 10px;
              }
            }
          }
        }
        .imageSection {
          display: none;
        }
      }
    }
  }

  #secondSection {
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    #carouselProductsMobile {
      .carousel-inner {
        overflow: visible;
        .carousel-item {
          padding-top: 10px !important;
          .productContainer {
            margin: 10px 0;
            max-width: 90%;
            width: auto;
            .productContainerImage {
              max-width: unset;
              height: 80vh;
              width: auto;
            }
            .image-point {
              position: absolute;
              .point {
                height: 17px;
                width: 17px;
              }
              .point-content {
                top: 0;
                left: 40%;
                transform: translateX(-40%);
                &.top {
                  top: unset !important;
                  bottom: 0;
                }
                .closeFloatCard {
                  color: rebeccapurple;
                  color: $accentColor;
                  background-color: $lightColor;
                  border-radius: 0 0 0 7px;
                  width: 25px;
                  height: 25px;
                  line-height: 25px;
                  font-size: 20px;
                }
                &.active {
                  top: 20px;
                  left: 50%;
                  right: 0;
                  visibility: visible;
                  opacity: 1;
                  z-index: 99;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
        .carousel-indicators {
          position: relative;
          margin: 35px auto;
          bottom:0;
          width: 300px;
          li {
            background-color: $accentColor;
            &.active {
              background-color: $mainColor;
            }
          }
          .carousel-indicators-number {
            font-size: 20px;
            color: $mainColor;
          }
        }
      }
      .carousel-control-next, .carousel-control-prev {
        opacity: 0.5;
        width: 45px;
        height: 45px;
        top: 50%;
        transform: translateY(-50%);
        background: $accentColor;
        border-radius: 100%;
        &:hover {
          opacity:1;
        }
      }
    }
    .productsBanner {
      margin-top: 30px;
      height: 300px;
      &:before {
        z-index: 1;
      }
      img {
        height: 100%;
        width: auto;
        max-width: unset;
        left: 30%;
        position: absolute;
        z-index: 0;
        transform: translateX(-30%);
      }
      .playButton {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        bottom: 20px;
        right: 20px;
        left: unset;
        z-index: 2;
      }
      .description {
        bottom: 75px;
        left: unset;
        right: 20px;
        font-size: 15px;
        line-height: 20px;
        text-align: right;
        z-index: 2;
      }
    }
  }

  #thirdSection {
    h2 {
      font-size: 25px;
    }
    .grid-container {
      .item1 {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      .item2 {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      .item3 {
        grid-column-start: 1;
        grid-column-end: 5;
      }
      .item4 {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }

  #fourthSection {
    padding: 0;
    background-color: $gray;
    .informationContainer {
      max-width: 1000px;
      width: 100%;
      img {
        margin-top: 10px;
      }
      .nav-tabs {
        display: inline-block;
        width: 100%;
        padding: 0 20px;
        margin-top: 10px;
        .nav-item {
          background-color: $fullWhite;
          .nav-link {
            &.active {
              font-weight: bold;
              background-color: $lightColor;
              &:hover {
                background-color: $lightColor;
              }
            }
          }
        }
      }
      .tab-content {
        padding: 0 20px;
        margin-bottom: 10px;
        margin-top: -25px;
        .tab-pane {
          max-width: unset;
          background-color: $fullWhite;
          padding-bottom: 10px;
          h2 {
            padding-top: 20px;
          }
        }
      }
    }
  }

  #fifthSection {
    .container {
      height: 100%;
      .formConatiner {
        @include boxShadow(0px, 0px, 40px, 0, rgba(0,0,0,0));
        width: 100%;
        max-width: 650px;
        margin: auto !important;
        float: none;
        right: 0;
        border-radius: 0;
        height: auto;
        margin: 15px 0;
      }
      img {
        width: 100%;
        max-width: 450px;
        display: block;
        margin: 20px auto;
      }
    }
  }

  #sixthSection {
    padding-top: 0 !important;
    h2 {
      padding-top: 40px !important;
      padding-bottom: 10px !important;
      font-size: 25px;
    }
    .imagesContainer {
      .imageSquare {
        width: 300px;
        height: 300px;
        margin-bottom: 25px;
        &:after {
          font-size: 37px;
          width: 37px;
        }
      }
    }
    .banner {
      height: 300px;
      margin-top: 20px !important;
      &:before {
        background-color: rgba(0,0,0,0.3);
      }
      img {
        max-width: unset;
        width: auto;
        height: 100%;
        left: 30%;
        transform: translateX(-30%);
        position: relative;
      }
      .btn {
        bottom: 60px;
        right: 15px;
        background: rgba($lightColor,0.6);
        font-size: 15px;
      }
      .description {
        bottom: 100px;
        right: 15px;
        font-size: 20px;
        line-height: 25px;
        text-align: right;
      }
    }
  }

  #seventhSection {
    .container { 
      .formConatiner {
        padding: 10px;
      }
      .bottomContainer {
        text-align: center;
        img {
          max-width: 300px;
        }
        .mainDescription {
          margin: auto;
          margin-bottom: 25px;
          max-width: 300px;
        }
        .mainList {
          font-size: 15px;
          li {
            list-style: none;
            position: relative;
            margin-bottom: 10px;
          }
        }
        .socialList {
          li {
            list-style: none;
            position: relative;
            width: 30px;
            height: 30px;
            display: inline-block;
            margin: 4px 10px;
            transition: transform 1s ease;
            &:nth-of-type(1) {
              a {
                &:before {
                  width: 30px;
                  height: 30px;
                }
              }
            }
            &:nth-of-type(2) {
              a {
                &:before {
                  width: 30px;
                  height: 30px;
                }
              }
            }
            &:nth-of-type(3) {
              a {
                &:before {
                  width: 30px;
                  height: 30px;
                }
              }
            }
            &:nth-of-type(4) {
              a {
                &:before {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
        .pagesContainer {
          h4 {
            font-size: 15px;
            font-weight: bold;
          }
          ul {
            li {
              font-size: 14px;
            }
          }
        }
        .paymentTitle {
          font-size: 15px;
          font-weight: bold;
        }
        .paymentList{
          padding-left: 0;
          li {
            width: 90px !important;
            height: 50px !important;
            a {
              width: 90px !important;
              height: 50px !important;
              display: inline-block;
              &:before {
                width: 90px !important;
                height: 50px !important;
                position: absolute;
                top: 0;
                right: 0;
              }
            }
          }
        }

      }
    }
  }

  footer {
    .footerContainer {
      > div {
        text-align: center;
        height: 30px;
        line-height: 30px;
        p {
          text-align: center !important;
        }
      }
    }
  }
}