@import '__mixins.scss';
@import '__variables.scss';

@include fontFace(ProximaNova,ProximaNova-Regular);
@include fontFace(ProximaNovaBold,ProximaNova-Bold);

body {
  font-family: 'ProximaNova-Regular', Arial, sans-serif;
}


#firstSection {
  background-image: url('../../images/background/top.png');
  background-position: top left;
  background-size: cover;
  min-height: 100vh;
  margin: 0 -15px;
  padding-top: 80px;
  .floatImageTop {
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
  }
  .floatImageBottom {
    position: absolute;
    right: 0;
    bottom: -410px;
    height: 500px;
  }
  .navbar {
    height: 80px;
    @include linearGradient(rgba(0,0,0,0.4),rgba(239,239,239,0.1));
    .nav-item {
      padding: 0 30px;
      .nav-link {
        display: inline-block;
        color: $fullWhite;
        &.active,
        &:hover {
          color: $mainColor;
        }
        img {
          width: 150px;
          height: auto;
        }
      }
      .languageSeparator,
      .dropdown-toggle::after {
        color: $mainColor;
      }
    }
  }
  .mainSectionContent {
    position: relative;
    #carouselMainSection {
      width: 100vw;
      min-height: 110vh;
      .carousel-inner {
        height: 100%;
        .carousel-item {
          justify-content: center;
          align-items: center;
        }
        .carousel-item-next, .carousel-item-prev, .carousel-item.active {
          display: flex;
        }
        .carousel-control-next, .carousel-control-prev {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px;
        }
        .carousel-title {
          font-size: 22px !important;
          text-transform: uppercase;
          color: $mainColor !important;
          letter-spacing: 3px;
          margin-left: 100px;
        }
        .carousel-indicators {
          position: relative;
          margin: 0;
          margin-top: 10px;
          bottom:0;
          width: 300px;
          li {
            width: 50px;
            margin: 0;
            background-color: $gray;
            &.active {
              background-color: $mainColor;
            }
          }
          .carousel-indicators-number {
            font-size: 20px;
            top: -13px;
            color: $mainColor;
            &:first-of-type {
              position: absolute;
              left: 20px;
            }
            &:last-of-type {
              right: -10px;
            }
          }
        }
      }
      .textSection {
        position: relative;
        right: -140px;
        width: 420px;
        padding-top: 50px;
        h1 {
          padding-left: 15px;
          position: relative;
          font-size: 70px;
          line-height: 60px;
          color: $mainColor;
          text-transform: uppercase;
          z-index: 10;
        }
        h3 {
          position: relative;
          font-size: 30px;
          color: $secondaryColor;
          text-transform: uppercase;
          z-index: 10;
        }
        p {
          position: relative;
          font-size: 11px;
          color: $secondaryColor;
          max-width: 150px;
          z-index: 10;
        }
        .socialMediaList {
          ul {
            list-style: none;
            padding: 0;
            li {
              width: 20px;
              height: 20px;
              margin-top: 10px;
              &:nth-of-type(1) {
                a {
                  outline: none;
                  &:before {
                    content: '';
                    background-image: url('../../images/iconos/social_media/facebook1_off.png');
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                  }
                  &:hover:before {
                    background-image: url('../../images/iconos/social_media/facebook_hover.png');
                  }
                }
              }
              &:nth-of-type(2) {
                a {
                  outline: none;
                  &:before {
                    content: '';
                    background-image: url('../../images/iconos/social_media/insta1_off.png');
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                  }
                  &:hover:before {
                    background-image: url('../../images/iconos/social_media/insta_hover.png');
                  }
                }
              }
              &:nth-of-type(3) {
                a {
                  outline: none;
                  &:before {
                    content: '';
                    background-image: url('../../images/iconos/social_media/twitter1_off.png');
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                  }
                  &:hover:before {
                    background-image: url('../../images/iconos/social_media/twitter_hover.png');
                  }
                }
              }
            }
          }
        }
      }
      .imageSection {
        margin-top: 40px;
        img {
          max-width: 600px;
        }
      }
    }
  }
}

#secondSection {
  min-height: 100vh;
  background-color: #faf7f6;
  h2 {
    text-transform: uppercase;
    color: $mainColor;
    text-align: center;
    font-size: 25px;
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
  #carouselProducts {
    .carousel-inner {
      height: 100%;
      .carousel-item {
        text-align: center;
        img {
          width: 100%;
          max-width: 350px;
          margin: 0 10px;
          transition: all 0.25s ease-in-out;
          &:hover {
            @include boxShadow(10px, 8px, 30px, 0, rgba(0,0,0,0.5));
          }
        }
      }
      .carousel-indicators {
        position: relative;
        margin: auto;
        margin-top: 25px;
        bottom:0;
        width: 300px;
        li {
          background-color: $accentColor;
          &.active {
            background-color: $mainColor;
          }
        }
        .carousel-indicators-number {
          font-size: 20px;
          top: -13px;
          color: $mainColor;
          &:first-of-type {
            position: absolute;
            left: 20px;
          }
          &:last-of-type {
            right: -10px;
          }
        }
      }
    }
    .carousel-control-next, .carousel-control-prev {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      &:hover {
        opacity:1;
      }
    }
  }
}

#thirdSection {
  height: 100vh;
  background-color: #faf7f6;
}