@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ProximaNovaBold";
  src: url("ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  scroll-behavior: smooth; }

body {
  font-family: 'ProximaNova-Regular', Arial, sans-serif; }

textarea, select, input, button {
  outline: none;
  box-shadow: none; }

#firstSection {
  background-image: url("../../images/background/top.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0 -15px;
  padding-top: 80px; }
  #firstSection .floatImageTop {
    position: absolute;
    left: 0;
    top: 0;
    height: 400px; }
  #firstSection .floatImageBottom {
    position: absolute;
    right: 0;
    bottom: -410px;
    height: 500px; }
  #firstSection .navbar {
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(239, 239, 239, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(239, 239, 239, 0.1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(239, 239, 239, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(239, 239, 239, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(239, 239, 239, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(239, 239, 239, 0.1) 100%); }
    #firstSection .navbar .nav-item {
      padding: 0 30px; }
      #firstSection .navbar .nav-item .nav-link {
        display: inline-block;
        color: #FFFFFF; }
        #firstSection .navbar .nav-item .nav-link.active, #firstSection .navbar .nav-item .nav-link:hover {
          color: #dcba79; }
        #firstSection .navbar .nav-item .nav-link img {
          width: 150px;
          height: auto; }
      #firstSection .navbar .nav-item .languageSeparator,
      #firstSection .navbar .nav-item .dropdown-toggle::after {
        color: #dcba79; }
  #firstSection .mainSectionContent {
    position: relative; }
    #firstSection .mainSectionContent #carouselMainSection {
      width: 100vw;
      min-height: 110vh; }
      #firstSection .mainSectionContent #carouselMainSection .carousel-inner {
        height: 100%; }
        #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-item {
          justify-content: center;
          align-items: center; }
        #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-item-next, #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-item-prev, #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-item.active {
          display: flex; }
        #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-control-next, #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-control-prev {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px; }
        #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-title {
          font-size: 22px !important;
          text-transform: uppercase;
          color: #dcba79 !important;
          letter-spacing: 3px;
          margin-left: 100px; }
        #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators {
          position: relative;
          margin: 0;
          margin-top: 10px;
          bottom: 0;
          width: 300px; }
          #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators li {
            width: 50px;
            margin: 0;
            background-color: #e9e6e8; }
            #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators li.active {
              background-color: #dcba79; }
          #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators .carousel-indicators-number {
            font-size: 20px;
            top: -13px;
            color: #dcba79; }
            #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators .carousel-indicators-number:first-of-type {
              position: absolute;
              left: 20px; }
            #firstSection .mainSectionContent #carouselMainSection .carousel-inner .carousel-indicators .carousel-indicators-number:last-of-type {
              right: -10px; }
      #firstSection .mainSectionContent #carouselMainSection .textSection {
        position: relative;
        right: -140px;
        width: 420px;
        padding-top: 50px; }
        #firstSection .mainSectionContent #carouselMainSection .textSection h1 {
          padding-left: 15px;
          position: relative;
          font-size: 70px;
          line-height: 60px;
          color: #dcba79;
          text-transform: uppercase;
          z-index: 10; }
        #firstSection .mainSectionContent #carouselMainSection .textSection h3 {
          position: relative;
          font-size: 30px;
          color: #2e6272;
          text-transform: uppercase;
          z-index: 10; }
        #firstSection .mainSectionContent #carouselMainSection .textSection p {
          position: relative;
          font-size: 11px;
          color: #2e6272;
          max-width: 150px;
          z-index: 10; }
        #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul {
          list-style: none;
          padding: 0; }
          #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li {
            width: 20px;
            height: 20px;
            margin-top: 10px; }
            #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(1) a {
              outline: none; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(1) a:before {
                content: '';
                background-image: url("../../images/iconos/social_media/facebook1_off.png");
                width: 20px;
                height: 20px;
                background-size: contain;
                background-position: center;
                position: absolute; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(1) a:hover:before {
                background-image: url("../../images/iconos/social_media/facebook_hover.png"); }
            #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(2) a {
              outline: none; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(2) a:before {
                content: '';
                background-image: url("../../images/iconos/social_media/insta1_off.png");
                width: 20px;
                height: 20px;
                background-size: contain;
                background-position: center;
                position: absolute; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(2) a:hover:before {
                background-image: url("../../images/iconos/social_media/insta_hover.png"); }
            #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(3) a {
              outline: none; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(3) a:before {
                content: '';
                background-image: url("../../images/iconos/social_media/twitter1_off.png");
                width: 20px;
                height: 20px;
                background-size: contain;
                background-position: center;
                position: absolute; }
              #firstSection .mainSectionContent #carouselMainSection .textSection .socialMediaList ul li:nth-of-type(3) a:hover:before {
                background-image: url("../../images/iconos/social_media/twitter_hover.png"); }
      #firstSection .mainSectionContent #carouselMainSection .imageSection {
        margin-top: 40px; }
        #firstSection .mainSectionContent #carouselMainSection .imageSection img {
          max-width: 600px; }

#secondSection {
  min-height: 100vh;
  background-color: #faf7f6; }
  #secondSection h2 {
    text-transform: uppercase;
    color: #dcba79;
    text-align: center;
    font-size: 25px; }
  #secondSection h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px; }
  #secondSection #carouselProducts .carousel-inner {
    height: 100%; }
    #secondSection #carouselProducts .carousel-inner .carousel-item {
      text-align: center; }
      #secondSection #carouselProducts .carousel-inner .carousel-item img {
        width: 100%;
        max-width: 350px;
        margin: 0 10px;
        transition: all 0.25s ease-in-out; }
        #secondSection #carouselProducts .carousel-inner .carousel-item img:hover {
          -webkit-box-shadow: 10px 8px 30px 0 rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 10px 8px 30px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 8px 30px 0 rgba(0, 0, 0, 0.5); }
    #secondSection #carouselProducts .carousel-inner .carousel-indicators {
      position: relative;
      margin: 35px auto;
      bottom: 0;
      width: 300px; }
      #secondSection #carouselProducts .carousel-inner .carousel-indicators li {
        background-color: #906d29; }
        #secondSection #carouselProducts .carousel-inner .carousel-indicators li.active {
          background-color: #dcba79; }
      #secondSection #carouselProducts .carousel-inner .carousel-indicators .carousel-indicators-number {
        font-size: 20px;
        color: #dcba79; }
  #secondSection #carouselProducts .carousel-control-next, #secondSection #carouselProducts .carousel-control-prev {
    opacity: 0;
    transition: opacity 0.25s ease-in-out; }
    #secondSection #carouselProducts .carousel-control-next:hover, #secondSection #carouselProducts .carousel-control-prev:hover {
      opacity: 1; }
  #secondSection .productsBanner {
    margin-top: 100px;
    position: relative; }
    #secondSection .productsBanner:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5); }
    #secondSection .productsBanner .playButton {
      cursor: pointer;
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.4);
      color: #FFFFFF;
      font-size: 30px;
      line-height: 80px;
      text-align: center;
      bottom: 150px;
      left: 150px;
      border-radius: 50%;
      transition: all 0.2s ease-in-out; }
      #secondSection .productsBanner .playButton:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: #000000; }
    #secondSection .productsBanner .description {
      position: absolute;
      bottom: 70px;
      left: 150px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 30px;
      line-height: 35px; }

#thirdSection {
  min-height: 100vh;
  background-image: url("../../images/background/medio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #thirdSection h2 {
    text-transform: uppercase;
    color: #dcba79;
    text-align: center;
    font-size: 30px; }
  #thirdSection .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 50px auto;
    max-width: 1000px; }
    #thirdSection .grid-container .item1 {
      grid-column-start: 1;
      grid-column-end: 5; }
    #thirdSection .grid-container .item2 {
      grid-column-start: 5;
      grid-column-end: 10; }
    #thirdSection .grid-container .item3 {
      grid-column-start: 1;
      grid-column-end: 6; }
    #thirdSection .grid-container .item4 {
      grid-column-start: 6;
      grid-column-end: 10; }
    #thirdSection .grid-container > div {
      cursor: pointer;
      height: 350px;
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden; }
      #thirdSection .grid-container > div:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.15s ease; }
      #thirdSection .grid-container > div:hover:before {
        background-color: rgba(0, 0, 0, 0.6); }
      #thirdSection .grid-container > div:nth-of-type(1) {
        background-image: url("../../images/fotos/colecciones/1.png"); }
      #thirdSection .grid-container > div:nth-of-type(2) {
        background-image: url("../../images/fotos/colecciones/2.png"); }
      #thirdSection .grid-container > div:nth-of-type(3) {
        background-image: url("../../images/fotos/colecciones/3.png"); }
      #thirdSection .grid-container > div:nth-of-type(4) {
        background-image: url("../../images/fotos/colecciones/4.png"); }
      #thirdSection .grid-container > div h3 {
        position: absolute;
        bottom: 65px;
        color: #dcba79;
        font-size: 20px;
        padding-left: 20px;
        text-transform: uppercase; }
      #thirdSection .grid-container > div p {
        position: absolute;
        bottom: 15px;
        color: #FFFFFF;
        font-size: 30px;
        padding-left: 20px; }

#fourthSection {
  padding: 50px 0; }
  #fourthSection .informationContainer {
    max-width: 1000px;
    width: 100%; }
    #fourthSection .informationContainer .nav-tabs .nav-link {
      color: #000000;
      text-transform: uppercase; }
      #fourthSection .informationContainer .nav-tabs .nav-link.active {
        color: #dcba79;
        background-color: #FFFFFF;
        border: none;
        border-bottom: 2px solid #dcba79; }
    #fourthSection .informationContainer .tab-pane h2 {
      text-transform: uppercase;
      color: #000000;
      text-align: left;
      font-size: 20px; }
    #fourthSection .informationContainer .tab-pane .informationData {
      display: inline-block; }
      #fourthSection .informationContainer .tab-pane .informationData .user {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        color: #dcba79;
        font-size: 13px;
        margin-left: 15px; }
        #fourthSection .informationContainer .tab-pane .informationData .user:before {
          content: '';
          background-image: url("../../images/iconos/usuario_hover.png");
          width: 13px;
          height: 13px;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -20px; }
      #fourthSection .informationContainer .tab-pane .informationData .date {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        color: #dcba79;
        font-size: 13px;
        margin-left: 45px; }
        #fourthSection .informationContainer .tab-pane .informationData .date:before {
          content: '';
          background-image: url("../../images/iconos/calendario.png");
          width: 13px;
          height: 13px;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -20px; }
    #fourthSection .informationContainer .tab-pane .informationText p {
      font-size: 13px;
      line-height: 15px; }
    #fourthSection .informationContainer .tab-pane .informationButtons {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
      -ms-align-items: space-between;
      align-items: center; }
      #fourthSection .informationContainer .tab-pane .informationButtons .readMore {
        background-color: #dcba79;
        color: #FFFFFF;
        border: none;
        width: 40%;
        border-radius: 2px;
        transition: all 0.25s ease-in-out; }
        #fourthSection .informationContainer .tab-pane .informationButtons .readMore:hover {
          border: 1px solid #dcba79;
          background-color: #FFFFFF;
          color: #dcba79; }
      #fourthSection .informationContainer .tab-pane .informationButtons .toBlog {
        background-color: transparent;
        color: #dcba79;
        text-decoration: underline;
        width: 40%;
        border-radius: 2px;
        transition: all 0.25s ease-in-out; }
        #fourthSection .informationContainer .tab-pane .informationButtons .toBlog:hover {
          background-color: #dcba79;
          color: #FFFFFF;
          text-decoration: none; }

#fifthSection .container {
  align-items: center;
  max-width: 1000;
  width: 100%; }
  #fifthSection .container .formConatiner {
    -webkit-box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    height: 300px;
    width: 450px;
    position: relative;
    float: right;
    background-color: #FFFFFF;
    right: -80px;
    border-radius: 20px 0 0 20px; }
    #fifthSection .container .formConatiner h2 {
      text-transform: uppercase;
      font-size: 25px; }
    #fifthSection .container .formConatiner p {
      font-size: 13px;
      color: #9b9b9b; }
    #fifthSection .container .formConatiner form {
      display: inline-block;
      width: 70%;
      text-align: center; }
      #fifthSection .container .formConatiner form .inputContainer {
        position: relative;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e9e6e8; }
        #fifthSection .container .formConatiner form .inputContainer:before {
          content: '';
          background-image: url("../../images/iconos/mail.png");
          width: 20px;
          height: 20px;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: 0;
          top: 7px; }
        #fifthSection .container .formConatiner form .inputContainer input {
          display: inline-block;
          border: none;
          padding-left: 30px; }
      #fifthSection .container .formConatiner form button {
        width: 200px;
        background: #f8f1e4;
        color: #906d29;
        border: 1px solid #906d29; }

/*# sourceMappingURL=main.css.map */
